div{
	width: 100px;
	height: 100px;
	background: blue;
	float: left;
	font-size: 30px;
}

.caja{
	position: relative;

	top: 100px;
	left: 100px;
}

.cajaPadre{
	background: #000;
	position: absolute;

	top:600px;
	left: 750px;
}

.caja5{
	position: relative;
	top: 200px;
	left: 0px;
}

.caja6{
	position: absolute;
	top:300px;
	left: 410px;
}

.caja7{
	position: absolute;
	top:400px;
	left:410px;
}

.caja8{
	position: absolute;
	top:400px;
	left:310px;
}

.caja9{
	position: absolute;
	top:400px;
	left: 210px;
}

.caja10{
	position: absolute;
	top: 400px;
	left:110px;
}

.caja11{
	position: absolute;
	top: 300px;
	left: 110px;
}

.caja12{
	position: absolute;
	top: 200px;
	left: 110px;
}